<div class="container">
  <div class="search-icon" routerLink="catalog" routerLinkActive="active">
       <!--(click)="enableDisableColours()"
       [ngClass]="{'catalog-blue' : toggle, 'catalog-white': !toggle}"-->
    <p>
      <fa-icon [icon]="faSearch" class="fa-3x"></fa-icon>
    </p>
  </div>
  <div class="house-icon" routerLink="home">
    <p>
      <fa-icon [icon]="faHouse" class="fa-4x"></fa-icon>
    </p>
  </div>
  <div class="heart-icon" routerLinkActive="active" routerLink="favorites">
       <!--(click)="enableDisableColours()"
       [ngClass]="{'favorites-white' : toggle, 'favorites-blue': !toggle}"-->
    <p>
      <fa-icon [icon]="faHeart" class="fa-3x"></fa-icon>
    </p>
  </div>
</div>
