.container {
  display: flex;
  justify-content: space-around;
  border-top: 2px solid #004F63;
  position: sticky;
  bottom: 0;
  background-color: white;

  .house-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -16px;
    color: white;
    background-color: #004F63;
    border-radius: 65px;
    width: 130px;
    height: 130px;
    cursor: pointer;
  }

  div.search-icon, div.heart-icon {
    color: #004F63;
    cursor: pointer;
    width: 100%;

    p {
      text-align: center;
    }
  }

  div.search-icon:hover, div.heart-icon:hover {
    background-color: #004F63;
    transition-duration: 50ms;
    color: white;
  }

  div.catalog-blue, div.favorites-blue {
    background-color: #004F63;
    color: white;
  }

  div.catalog-white, div.favorites-white {
    background-color: white;
    color: #004F63;
  }
}
