.container {
  padding: 20px;
  margin: 12px 12px 36px 12px;

  div.catalog-search {
    margin: 20px;

    input{
      display: block;
      margin: auto;
      border-radius: 6px;
      border: 1px solid lightgrey;
      width: 95%;
      height: 40px;

      &.search{
        font-size: larger;
      }

      &::placeholder{
        color: lightgrey;
      }
    }

  }

  .catalog-houses {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    app-house {
      width: 45%;
    }
  }

  .page-link{
    color: #004F63;
    font-weight: bold;
    text-decoration: underline;
  }

}
