<div class="container">
  <div class="catalog-search">
    <input type="text" class="search" (change)="changeValue($event)" name="search" placeholder="Procurar por país 🔍"
           autofocus>
  </div>
  <div class="catalog-houses">
    <app-house *ngFor="let h of houses"
               [featured_photo]="h.featured_photo"
               [city]="h.city"
               [country]="h.country"
               [rating]="h.rating"
               [price]="h.price"
               [host_type]="h.host_type"
               [id]="h.id"
    >
    </app-house>
  </div>

  <div class="page-link">
    <a (click)="changePage(pageNumber)">...mais resultados</a>
  </div>

  <div class="footer">
    <a href="https://github.com/filipapico/Upbnb-project">Filipa Pico</a>
  </div>

</div>
