.container {
  margin: 12px;

  .house {

    .house-image {
      position: relative;

      div {
        display: block;
        background-size: cover;
        width: 100%;
        padding-bottom: 57%;
        border-radius: 12px;
      }

      .icon-favorite {
        display: flex;
        cursor: pointer;
        padding-bottom: 0;

        fa-icon {
          color: white;
          position: absolute;
          top: 2px;
          right: 2px;
          padding: 6px;
        }
      }
    }



    .house-location-rating {
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 40px;

    }

    .house-dates-price {
      p {
        margin-top: 6px;
        margin-bottom: 6px;

        .host {
          background-color: red;
          color: grey;
        }
      }

      .price {
        font-weight: bold;
      }
    }
  }
}
