<div class="container" [routerLink]="['/details', id]">
  <div class="house">
    <div class="house-image" [ngClass]="favoriteType">
      <div style="background-image: url('{{featured_photo}}');"></div>
      <!--<img src="{{featured_photo}}" alt=""/>-->
      <div class="icon-favorite" (click)="$event.stopPropagation(); upbnbService.toggleFavorite(id)">
        <fa-icon [icon]="upbnbService.isFavorite(id) ? faHeartSolid : faHeart"></fa-icon>
      </div>
    </div>
    <div>
      <div class="house-location-rating">
        <div class="house-location">
          <h4 >{{city}}, {{country}}</h4>
        </div>
        <div class="house-rating">
          <span>★ {{rating}}</span>
        </div>
      </div>
      <div class="house-host-time-price">
        <p class="host" *ngIf="host_type">{{host_types[host_type]}}</p>
        <p class="time" *ngIf="time">{{time}}</p>
        <span class="price">{{price}}€ </span>
        <span>noite</span>
      </div>
    </div>
  </div>
</div>
