<div class="container">
  <div class="house">

    <div class="house-image" [routerLink]="['/details', id]">
      <img src="{{featured_photo}}" alt=""/>
      <div class="icon-favorite">
        <fa-icon [icon]="faHeart"></fa-icon>
      </div>
    </div>
    <div class="house-info">
      <div class="house-location-rating">
        <div>
          <h4>{{city}}, {{country}}</h4>
        </div>
        <div>
          <span>★ {{rating}}</span>
        </div>
      </div>
      <div class="house-dates-price">
        <p class="host" *ngIf="host_type">{{host_types[host_type]}}</p>
        <!--        -->
        <p class="date" *ngIf="data">{{data}}</p>
        <p class="price">{{price}}€</p>
      </div>
    </div>
  </div>
</div>
