<div class="container">
  <div class="home-intro">
    <h1>Bem-vindo(a)</h1>
    <h2>Ao seu perfil</h2>
  </div>
  <div class="home-reservations">
    <h2>As minhas reservas</h2>
    <div class="home-houses-reservations">
      <app-house *ngFor="let r of reservations.data"
                 [id]="r.id"
                 [title]="r.title"
                 [country]="r.country"
                 [city]="r.city"
                 [rating]="r.rating"
                 [price]="r.price"
                 [time]="r.time"
                 [featured_photo]="r.featured_photo"
      >
      </app-house>
    </div>
    <h2>Reservas passadas</h2>
    <div class="home-houses-past-reservations">
      <app-house *ngFor="let r of pastReservations.data"
                 [id]="r.id"
                 [title]="r.title"
                 [country]="r.country"
                 [city]="r.city"
                 [rating]="r.rating"
                 [price]="r.price"
                 [time]="r.time"
                 [featured_photo]="r.featured_photo"
      >
      </app-house>
    </div>
  </div>
</div>
