.container{
  padding: 20px;

  .home-intro h2{
    color: grey;
  }

  .home-reservations{
    padding-top: 12px;
  }

  .home-houses-reservations, .home-houses-past-reservations{
    display: flex;
  }

}
