.container {
  margin: 12px;

  .details-featured_photo {
    position: relative;

    img {
      display: block;
      border-radius: 12px;
    }

    fa-icon {
      color: white;
    }

    .icon-favorite {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 6px;
      right: 8px;
      cursor: pointer;
    }
  }

  p {
    line-height: 1.8;
  }

  .details-price {
    display: flex;
    align-items: center;
    height: 40px;

    h2 {
      margin: 12px;
    }

    p {
      font-size: 22px;
    }
  }

  //HOST

  .details-host-info {
    display: flex;
    align-items: center;

    img {
      width: 60px;
      height: 60px;
      border-radius: 60px;
      margin-right: 20px;
    }

    .details-host-name-rating h4 {
      line-height: 1px;
      margin-bottom: 12px
    }

  }

  .details-gallery {
    display: flex;
    flex-wrap: wrap;

    div {
      width: 40%;

      img{
        border-radius: 12px;
        padding: 6px;
      }
    }
  }

  .details-reviews {
    display: flex;
    align-items: center;

    img {
      width: 60px;
      height: 60px;
      border-radius: 60px;
      margin-right: 20px;
    }

    .details-reviews-name-date h4 {
      line-height: 1px;
      margin-bottom: 12px;
    }

    span{
      color: grey;
    }

  }

}
