<div class="container" *ngIf="details">

  <h1>{{details.title}}</h1>
  <h2> ★ {{details.rating}} · {{details.city}}, {{details.country}}</h2>

  <div class="details-featured_photo">
    <img src="{{details.featured_photo}}" alt="{{details.featured_photo}}">
    <div class="icon-favorite">
      <fa-icon [icon]="faHeart" class="fa-2x"></fa-icon>
    </div>
  </div>

  <div class="details-price">
    <h2>€{{details.price}}</h2>
    <p>noite</p>
  </div>

  <p>
    {{details.description}}
  </p>

  <div>
    <p>FEATURES MISSING</p>
  </div>

  <div *ngIf="host">
    <h3>Sobre o anfitrião</h3>
    <div>
      <div class="details-host-info">
        <img src="{{host.photo}}" alt="host.photo">
        <div class="details-host-name-rating">
          <h4>{{host.name}}</h4>
          <span>★ {{host.rating}}</span>
        </div>
      </div>
      <p>No mundo atual, a execução dos pontos do programa desafia a capacidade de equalização do investimento em
        reciclagem técnica.</p>
    </div>
  </div>

  <div>
    <h3>Galeria</h3>

  </div>

  <div>
    <h3>Comentários</h3>
  </div>

</div>
