.container {
  margin: 12px;

  .details-featured_photo {
    position: relative;

    img {
      display: block;
      border-radius: 12px;
    }

    .icon-favorite {
      display: flex;
      cursor: pointer;

      fa-icon {
        color: white;
        position: absolute;
        top: 2px;
        right: 2px;
        padding: 6px;
      }

    }
  }

  p {
    line-height: 1.8;
  }

  .details-price {
    display: flex;
    align-items: center;
    height: 40px;

    h2 {
      margin: 12px;
    }

    p {
      font-size: 22px;
    }
  }

  // FEATURES
  .details-features{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;

    fa-icon{
      color: white;
      padding: 10px;
      margin: 2px;
      background-color: #004F63;
      border-radius: 12px;
    }
  }

  //HOST

  .details-host-info {
    display: flex;
    align-items: center;

    img {
      width: 60px;
      height: 60px;
      border-radius: 60px;
      margin-right: 20px;
    }

    .details-host-name-rating h4 {
      line-height: 1px;
      margin-bottom: 12px
    }

  }

  .details-gallery {
    display: flex;
    flex-wrap: wrap;

    div {
      width: 40%;

      img {
        border-radius: 12px;
        padding: 6px;
      }
    }
  }

  .details-reviews {
    display: flex;
    align-items: center;

    img {
      width: 60px;
      height: 60px;
      border-radius: 60px;
      margin-right: 20px;
    }

    .details-reviews-name-date h4 {
      line-height: 1px;
      margin-bottom: 12px;
    }

    span {
      color: grey;
    }

  }

}
